@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

html,body,ul{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
header>.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li{
    display: inline-block;
    color: #505F98;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px; font-feature-settings: 'clig' off, 'liga' off;
    margin-right: 60px;
}
header li:last-child{
    margin-right: 0;
}
h1{
    color: var(--colour-logo-primary, #37447E);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 900;
    line-height: 38px;
}
.primary{
    appearance: none;
    -webkit-appearance: none;
    border-radius: 2px;
    border: 2px solid #091133;
    padding: 4px 0px;
    border-radius: 5px;
    width: 160px;
    color:  #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Medium 14 */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    background:  #111B47;
}
#modal{
    background-color: rgba(0,0,0, 0.5) ;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0; 
    align-items: center;
    display: none;
    justify-content: center;
}
#white_block{
    background-color:  white;
    width: 500px;
    height: 500px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}
.text{
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}
.fa-solid.fa-xmark{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.same-block{
    width: 40%;

}
#demo1{
     display: flex;
    justify-content: right;
}
h2{
    color: var(--colour-main-blue-900, #091133);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Medium 50 */
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 66px; /* 132% */
    letter-spacing: 1px;
}
p{
    color: var(--colour-main-blue-500, #505F98);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Regular 18 */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
#text{
    width: 539px;
}
.secondory{
    appearance: none;
    -webkit-appearance: none;
    border-radius: 2px;
    border: 2px solid #091133;
    padding: 4px 0px;
    border-radius: 5px;
    width: 160px;
    color:  #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Medium 14 */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    background-color: transparent;
}
.backround{
    background-image: url(designer-12-x.png);
    height: 100vh;
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
header{
    position: fixed;
    background-color: white;
    top: 0;
}
